/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 10px;
  background-color: #f4e0dd;
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif;
  text-align: center;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  background-color: #c48b84;
  padding-top: 20px;
  height: 50px;
  margin: 150px -10px -10px -10px;
  color: white;
  font-weight: bold;
  /* border: solid 1px red ; */
}

.LinkedInImg{
  height: 15px;
}

.footerText{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -8px;
}
.footerLeft{
  margin-right: 7px;
}
.footerRight{
  margin: 0px 7px;
}

.navbar{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c48b84;
  padding-top: 20px;
  /* border: solid 1px red ; */
  position: sticky;
  top: 0;
  margin: -10px -10px 10px -10px;
  /* width: 100vw; */

}

.navbar-right{
  /* border: solid 1px black ; */

}

.navbar-right-top{

}

.navbar-right-bottom{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.navbar-button{
  background-color: #c48b84;
  color: #fdf7f2;
  border-style: none;
  padding: 5px 10px;
  margin: 0px 20px 10px 0px;
  border-radius: 5px 5px 5px;
  /* width: 60%; */
  text-align: center;
  font: inherit;
}

.navbar-button:hover{
  background-color: #fdf7f2;
  color: #c48b84;
  border-style: none;
}

.button{
  font-weight: 600;
    /* font-size: 12px; */
  padding: 5px 10px;
  margin: 0px 20px 10px 0px;
  border-radius: 5px 5px 5px;
  /* width: 60%; */
  text-align: center;
  width: 80vw;
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif
}

.button-filled{
  background-color: #c48b84;
  border-color: #c48b84; 
  /* border: transparent; */
  color: #fdf7f2;
}

.button-filled:hover{
  background-color: lightgray; 
  color: white;
  transition: 0.5s;
}

.button-framed{
  background-color: #fdf7f2; 
  border-color: #c48b84;
  color: #c48b84
}

.button-framed:hover{
  background-color: #fdf7f2; 
  border: transparent;
  color: #c48b84
}

.home{
  /* border: solid 1px yellow; */
  width: 100vw;
}

.header{
 /* border: solid mediumseagreen 1px; */
}

.header-image{
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #c48b84;
  margin: -9px 0px 0px -20px;
}

.header-info {
  background-color: #f4e0dd;
  margin-top: 0px;
  padding-top: 0px;
}

.home h1{
  font-weight: 900;
  font-size: 36px;
  color: #084d26;
}
.home h5{
  font-weight: 500;
  font-size: 16px;
  color: #084d26;
}

.home-expert{

}

.home-expert-image{
  width: 100%;
}

.LoginPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px magenta; */
  width: 80vw;
  margin: 10px;
}

.login-label{
  margin: 10px;
}

.login-input{
  width: 80%;
  /* border: solid 1px red; */
  margin: 10px;
}

.login-input input{
  width: 100%;
  
}

.LoginPage > form {
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-button{
  font-weight: 600;
    /* font-size: 12px; */
  padding: 5px 10px;
  margin: 0px 20px 10px 20px;
  border-radius: 5px 5px 5px;
  /* width: 60%; */
  text-align: center;
  width: 80%;
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif
}


.button-filled-green{
  background-color: #084d26;
  border-color: #084d26; 
  /* border: transparent; */
  color: #fdf7f2;
}

.button-filled-green:hover{
  background-color: lightgray; 
  color: #084d26;
  transition: 0.5s;
}

.login-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Plant details and card */

.addSubs{
  font-size: 20px;
  font-weight: bold;
  color: #c48b84;
  max-width: 260px;
 
  
}

.addSubs2{
  font-size: 20px;
  font-weight: bold;
  color: #c48b84;
  max-width: 260px;
  text-align: center;
  margin-left: 50px;
  
}

.commonName2{
  margin-bottom: -2px;
}

.commonName3{
font-weight: bold;
color: #084d26;
}


.plantImage{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5%;
  border: solid white 5px;

}




.plantDetailContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* header */

.plantDetailHeader{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
 }

.plantHeaderLeft{
 
margin-right: 60px;
  

}

.plantHeaderRight{
  display: flex;
  flex-direction: row;
  margin-right: 35px;
  
}

.plantName {
 text-align:left ;
  font-size: 18px;
  font-weight: bold;
  color: #c48b84;
  margin-left: 35px;
}

.commonName{
  text-align: left;
  margin: -10px 0 30px 0;
  font-size: 14px;
  color:#084d26;
  margin-left: 35px;
}


.plantDetailsEdit{
  margin-right: 15px;
}

.center{
  justify-content: center;
}

.plantDetailsContent{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
 }

.plantDetailBG{
  background-color: solid white;
}


.detailsPlant{
  display: flex;
  flex-direction: row;
  margin-top: -5px;
  margin-left: 35px;
  margin-bottom: 5px;
  font-size: 14px;
  justify-content: flex-start;
  align-items: center;
  

}

.plantDetailIcon{
  height: 25px;
  margin-right: 20px;
}

.detailsCategory{
 
 font-weight:bold;
  font-size: 14px;
  margin-right: 10px;
}

.detailsResults{
 font-size: 14px;
}

.detailHeadline{
  color:#084d26;
  max-width: 80%;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
  
}
.diseaseHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px 10px 35px;

 }



 .addDiseaseIcon{
  text-align: right;
 }

 .diseaseImage {
  width: 80%;
 
 margin-top: 20px;

 }

 .diseaseName {
  text-align:left ;
  font-size: 18px;
  font-weight: bold;
  color: #c48b84;
  margin-left: 35px;
 }


.diseaseIcon{
  height: 25px;
  margin-right: 20px;
}

.diseaseSubline{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 5px;
  margin-top: -10px;
  font-size: 14px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
}

.diseaseContent{
  font-size: 14px;
  text-align: justify;
	text-align-last: none;
  max-width: 80%;
  margin-left: 35px;
  margin-top: -5px;
  margin-bottom: 15px;

}

.diseaseDeleteIcon{
  height:20px;
}

.diseaseType{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right:45px;
}

.plantCardDiseaseLabel{
  background: #084d26;
  font-size: 14px;
  font-weight: bolder;
  padding: px;
  border-radius: 5px;
  color: white;

}

.diseaseDetailsImage{
  width:80%;
  margin-top: 15px;
  border: solid white 3px;
  border-radius: 15px;
}

.viewDetailsIcon{
  margin-right: 10px;
}

.plantCard{
  background-color: white;
  border-radius: 5%;
  max-width: 90%;
  margin-bottom: 10px;
  margin-left: 20px;
  justify-content: center;
}

.plantCardContainer{
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}

.plantCardLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35px;
  margin-right: 30px;
}

.plantCardRight{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plantCardImage{
  margin-top: 18px;
}

.plantCardContent{
  font-size: 14px;
}

.plantCardIcon{
  height:20px;
  margin-right: 10px;
  
}

.calendarStyle{
  margin-bottom: 5px;
}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
/* .react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
} */
.react-calendar__tile--hasActive {
  background:#c48b84;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #c48b84;
}
.react-calendar__tile--active {
  background: #c48b84;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #c48b84;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.calendar{
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 20px;
  margin-left: -28px;
}

.selectedDate{
  color:black;

 
}

.selectedDate2{
 margin-top: 20px;
 
}

.bookingExpert{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
  max-width: 80%;
 margin-left: 20px;
 border-radius: 10px;
 padding: 10px;
}

.bookingExpertImg{
height: 60px;


}

.bookingExpertName{
  font-weight: bold;
}



.bookingExpertRow1{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: -15px;
  
}

.bookingExpertRow2{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin: -15px 0px;
  
  font-size: 12px;
  font-weight: bold;
  
}
.addIconBooking {
  text-align: end;
}

.align{
  margin-left: 20px;
}

.bookingCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
 margin-bottom: 10px;
 max-width: 90%;
 margin-left: 20px;
 border-radius: 15px;
}
.bookingCardImg{
  width:30%;
  margin-top: 15px;
  margin-left: 10px;
  
}

.bookingCardLeft{
  margin-left: -140px;
}

.bookingCardRight p{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-left: -150px;
  margin-top: 20px;
  align-content: flex-start;
}



.bookingCardDate{
  font-size: 14px;
  font-weight: bold;
  margin-left: 40px;
  
}

.bookingCardReason{
  font-size: 14px;
  font-weight: bold;
  
}
.bookingCardRight1{
  margin-left: 30px;
  text-align: left;
}

.bookingCardIcons{
  display: flex;
  flex-direction: row;
  margin: 5px;
  
}

.bookingCardLabels{
  display: flex;
  flex-direction: row;
  justify-content: center;
 margin-left: -25px;
  margin-top: -15px;

 }

 .bookingConfirmedCard{
  background: #084d26;
  
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  padding: 5px;
  
 }

 .bookingLocationCard{
  background: #c48b84;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  
 }

 .bookingLocationCard2{
  background: #c48b84;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-right: 20px;
 
  
 }

 .bookingConfirmed{
  background: #084d26;
  
  border-radius: 5px;
  color: white;
  margin-right: 20px;
  padding: 5px 10px;
  
 }

 .bookingLocation{
  background: #c48b84;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
  
 }

 .bookingDetailCard{
  background-color: white;
  border-radius: 20px;
  max-width: 95%;
  margin-left: 8px;
  margin-bottom: 30px;

}

.bookingDetailHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 18px;
  margin-right: 18px;
}

 .bookingDetailsEdit{
  height: 25px;
  margin-right: 10px;
 }

 .bookingDetailsDelete{
  height: 25px;
 }

 .bookingDetailReason{
  font-size: 16px;
  font-weight: bold;
 }

 .descriptionHead{
  font-weight: bold;
  font-size: 14px;
 }
 .descriptionRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 18px;
 }

 .descriptionIcon{
  height: 30px;
  margin-right: 10px;
 }

 .bookingText{
  font-size: 14px;
  text-align: justify;
	text-align-last: none;
  max-width: 90%;
  margin-left: 58px;
  margin-top:-5px;
  max-width: 250px;
 }

 .errorText{
  color: red;
  font-size: 12px;
 }

 .successMessage{
  color:#c48b84;
  font-weight: bold ;
 }

 .bookingLabels{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

 }

 .expertAlign{
  margin-right: 5px;
 
 }

 .expertAlign2{
  margin-right: 5px;
 
 }

 .buttonFramedBooking{
  background-color: #fdf7f2; 
  border-color: #c48b84;
  color: #c48b84;
  padding: 5px;
padding-left:60px;
padding-right: 60px;
}

.buttonFramedApiSearch{
  background-color: #fdf7f2; 
  border-color: #c48b84;
  color: #c48b84;
  padding: 5px;
padding-left:20px;
padding-right: 20px;

margin: 10px;
}

.buttonFramedBooking:hover{
  background-color: #fdf7f2; 
  border: transparent;
  color: #c48b84
}

.buttonFramedApiSearch:hover{
  background-color: #fdf7f2; 
  border: transparent;
  color: #c48b84
}


.SignupPage{
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.signup-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px magenta; */
  width: 80vw;
  margin: 10px;
}

.signup-label{
  margin: 10px;
}

.signup-input{
  width: 80%;
  /* border: solid 1px red; */
  margin: 10px;
}

.signup-input input{
  width: 100%;
  
}

.SignupPage > form {
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.AddBookingForm{
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}

.EditBooking{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  
}

.booking-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px magenta; */
  width: 80vw;
  margin-left: 25px;
}

.booking-label{
  margin: 10px;
}

.booking-input{
  width: 80%;
  /* outline: solid 1px red;  */
  margin: 10px;
}
/* 
.booking-input input{
  width: 100%;
  
} */

.AddBookingForm > form {
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ErrorPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  
}

.ErrorPage > p{
  font-size: 10px;
  margin-bottom: 50px;
}


.EditProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}

.edit-profile-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px magenta; */
  width: 80vw;
  margin: 10px;
}

.edit-profile-label{
  margin: 10px;
}

.edit-profile-input{
  width: 80%;
  /* border: solid 1px red; */
  margin: 10px;
}
/* 
.edit-profile-input input{
  width: 100%;
  
} */
.profile-header{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.profile-header-top{
display: flex;
align-items: center;
align-self: flex-start;
font-size: 10px;
font-weight: 600;
margin: 0px 20px 0px 20px
}

.profile-header-bottom{
align-self: flex-start;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
/* border: solid 1px red; */
width: 100%;
}

.profile-header-bottom-image{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* border: solid 1px red; */
  margin-left: 40px;

}
.profile-header-bottom-image >img {
border-radius: 50%;
width: 100px;
}

.profile-header-bottom-info{
display: flex;
flex-direction: row;
/* border: solid 1px black; */
justify-content: space-around;
width: 50%;
}

.profile-header-bottom-info span{
font-weight: 900;
font-size: 24px;
}

.home-expert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/src/images/Body.jpg') no-repeat center center;
  /* background-image: url("https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675875924/festival-wizard/ewpmy4lacfcfdajjvqbq.png"); */
  background-size: 100vw;
  width: 100%;
  height: 600px;
  margin: 50px 0px 50px 0px;
  /* border: solid brown 1px; */


}
/* .overlay{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 80%;
  background-image: linear-gradient(to bottom right, rgba(32,32,32,0.7), rgba(32,32,32,0.5));
  padding: 20px;
} */
.home-expert-text{
  color: #fdf7f2;
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif;
  width: 50%;
  padding: 10px;
 text-align: center;
 /* border: solid cyan 1px; */
}

.home-expert-text > h5{
background-color: #fdf7f2;
margin-top: 70px;
opacity: 75%;
padding: 7px
}

.apiImage{
  height:80px;
  margin-top: 5px;
  margin-left: 20px;
 
}

.loading{
  font-weight: bold;
}

.searchCard{
  background-color: white;
  width: 80%;
  border-radius: 3%;
  margin-bottom: 10px;
  margin-left: 35px;
  padding-top:10px;
}

.searchInfo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inputSearch{
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: transparent;
  text-align: center;
}

.labelSearch{
  font-size: 14px;
  font-weight: bold;
  margin-top: -1px;
  margin-bottom: 2px;
}









